.page-header{
    margin: 0 auto;
    width: 1101px;
    height: 45px;
}
.menu{
    width: 100%;
    height: 45px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    list-style: none;
    width: 160px;
    background-color: firebrick;
    float: left;
    margin-right: 10px;
    border-radius: 7px 7px 0 0;
}
.menu ul li a{
    padding-top: 12px;
    height: 33px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}
.menu ul li a:hover{
    border-radius: 7px 7px 0 0;
    background-color: rgb(255, 192, 192);
}
#wrapper{
    margin: 0 auto;
    width: 1101px;
    height: 350px;
    border: 1px solid #000;
}
.container{
    width: 350px;
    height: 350px;
    border: 1px solid #000;
    float: left;
}
.container-margin{
    margin-right: 22px;
}
.bg-red{
    background-color: rgb(255, 240, 243);
}
.bg-green{
    background-color: rgb(231, 255, 231);
}
.bg-yellow{
    background-color: rgb(255, 255, 230);
}